/* Réinitialisation de base pour enlever les marges par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DCDCDC;
}

/* Styles pour la navbar */
.navbar {
    background-color: #F8F9FA; /* Couleur de fond */
    overflow: hidden; /* Assure que le contenu de la navbar s'adapte à sa hauteur */
    height: 6vh;
    text-align: left;
}

.navbar li {
    display: inline-block;
    padding: 14px 16px;
}

.principalTitle {
    font-size: 2.5em;
    font-weight: normal;
    text-align: center;
    padding-bottom: 2vh;
}

/* Styles pour le contenu */

.principalContent{
    width: 60%;
    height: 50vh;
    background-color: #E8ECEE;
    margin: 0 auto;
}

.principalContent h1 {
    font-size: 2.5em;
    padding: 20px;
}

.textPrincipal {
    font-size: 1em;
    font-weight: normal;
    text-align: left;
    line-height: 2.2em;
    padding: 0 30px;
    padding-bottom: 20px;
}

.textSecondaire {
    font-size: 0.8em;
    font-weight: bold;
    padding: 0 30px;
    border-top: #DCDCDC 2px solid;
    padding-top: 20px;
    margin-bottom: 10px;
}

.button {
    position: relative;
    left: 30px;
    height: 4.5vh;
    width: 20vh;
    font-size: 0.9em;
    
}

.pagination {
    display: inline-block;
    position: relative;
    left: 50%;
    top: 5vh;
  }
  
  .pagination a {
    color: #4BA2FF;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .pagination a.active {
    background-color: #DCDCDC;
    color: 4BA2FF;
    border: 1px solid #4BA2FF;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}

/* Styles pour la sidebar */

/* Style général pour la barre latérale */
.sidebar {
    height: 50vh; /* Hauteur totale de la vue */
    width: 125px; /* Largeur de la barre latérale */
    position: relative; /* Position fixe par rapport à la fenêtre de vue */
    z-index: 1; /* Reste sur le contenu */
    top: 10%; /* Haut de la fenêtre de vue */
    left: 83%; /* Gauche de la fenêtre de vue */
    bottom: 50vh;
    background-color: #111; /* Couleur de fond */
    overflow-x: hidden; /* Cache le débordement horizontal */

    
}

/* Style pour les liens dans la barre latérale */
.sidebar a {
    font-size: 1em;
    text-align: left;
    padding-left: 5vh;
    display: block;
    text-decoration: none;
}

/* Change la couleur des liens au survol */
.sidebar a:hover {
    color: #f1f1f1; /* Couleur de survol */
}
  