#taquin {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
    height: 300px;
    gap: 2px; /* ajustez cet écart si nécessaire */
}

.tile {
    width: calc(100% / 3);
    height: calc(100% / 3);
    background-image: url('./images/image.png'); /* Utilisez votre image complète ici */
    background-size: 300px 300px; /* Cette taille doit être la taille totale de l'image */
    border: 1px solid #ddd; /* Pour visualiser les bordures des tuiles */
    box-sizing: border-box;
}

/* Réglez les positions d'arrière-plan pour chaque tuile */
.tile:nth-child(1) { background-position: 0 0; }
.tile:nth-child(2) { background-position: -100px 0; }
.tile:nth-child(3) { background-position: -200px 0; }
.tile:nth-child(4) { background-position: 0 -100px; }
.tile:nth-child(5) { background-position: -100px -100px; }
.tile:nth-child(6) { background-position: -200px -100px; }
.tile:nth-child(7) { background-position: 0 -200px; }
.tile:nth-child(8) { background-position: -100px -200px; }
/* La tuile vide n'aura pas d'image de fond */
.tile.empty { background-image: none; }
